<div id="parentElement" #parentElement>
    <nav class="bg-gray-700 p-4 shadow-xl rounded-b-lg mt-16">
        <div class="container mx-auto flex justify-center">
            <h1 class="text-white text-xl tracking-wide drop-shadow-md capitalize">Food Item Management</h1>
        </div>
    </nav>

    <div class="p-6">
        <!-- Action buttons -->
        <div class="mb-6 flex justify-end gap-4">
            <app-primary-button [text]="'Add Item'" (onBtnClick)="redirectToAdditem()" class="shadow-md" />
            <app-primary-button [text]="'Create Category'" (onBtnClick)="redirectToCreateCategory()"
                class="shadow-md" />
        </div>

        <!-- Tabs -->
        <div class="w-full rounded-lg shadow-md">
            <!-- Tab Navigation -->
            <div class="flex w-full mb-2">
                <button id="categories-tab"
                    class="tab flex-1 py-3 px-4 text-center font-medium transition-all duration-200 rounded-l-lg shadow-sm hover:shadow-md sm:text-lg"
                    (click)="changeTab(ITEM_LISTIN_TAB_TYPE.CATEGORIES)" [ngClass]="{'bg-teal-400 text-white': activatedTab === ITEM_LISTIN_TAB_TYPE.CATEGORIES,
                    'bg-gray-200 text-gray-700 hover:bg-gray-300': activatedTab !== ITEM_LISTIN_TAB_TYPE.CATEGORIES}">
                    Categories
                </button>
                <button id="items-tab"
                    class="tab flex-1 py-3 px-4 text-center font-medium transition-all duration-200 rounded-r-lg shadow-sm hover:shadow-md sm:text-lg"
                    (click)="changeTab(ITEM_LISTIN_TAB_TYPE.ITEMS)" [ngClass]="{'bg-teal-400 text-white': activatedTab === ITEM_LISTIN_TAB_TYPE.ITEMS,
                    'bg-gray-200 text-gray-700 hover:bg-gray-300': activatedTab !== ITEM_LISTIN_TAB_TYPE.ITEMS}">
                    Items
                </button>
            </div>
        </div>

        <!-- No User message -->
        <div class="flex flex-col items-center justify-center p-8 m-6 bg-gray-50 border border-gray-200 rounded-lg shadow-sm"
            *ngIf="(categoryListingData.length === 0 && activatedTab === ITEM_LISTIN_TAB_TYPE.CATEGORIES)
                || (itemListingData.length === 0 && activatedTab === ITEM_LISTIN_TAB_TYPE.ITEMS)">
            <svg class="w-16 h-16 text-gray-400 mb-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                </path>
            </svg>
            <div *ngIf="activatedTab === ITEM_LISTIN_TAB_TYPE.CATEGORIES">
                <h3 class="text-lg font-medium text-gray-800 mb-1">No Category Available</h3>
                <p class="text-gray-600 text-center max-w-md">There are currently no category in the system. New
                    category will
                    appear here once they have been added to the database.</p>
                <div class="mt-4">
                    <app-primary-button [text]="'Create New Category'" (onBtnClick)="redirectToCreateCategory()"
                        class="shadow-md" />
                </div>
            </div>

            <div *ngIf="activatedTab === ITEM_LISTIN_TAB_TYPE.ITEMS">
                <h3 class="text-lg font-medium text-gray-800 mb-1">No Food Item Available</h3>
                <p class="text-gray-600 text-center max-w-md">There are currently no item in the system. New item will
                    appear here once they have been added to the database.</p>
                <div class="mt-4">
                    <app-primary-button [text]="'Add New Items'" (onBtnClick)="redirectToAdditem()" class="shadow-md" />
                </div>

            </div>
        </div>

        <!-- Listing Table -->
        <div class="rounded-lg border border-gray-300 shadow-lg">
            <div class="flex justify-between items-center bg-gray-100 px-4 py-3 rounded-t-lg border-b border-gray-300">
                <app-primary-button [text]="'DELETE'" class="shadow-md" />

                <!-- Top Pagination -->
                <div class="flex items-center gap-2">
                    <div class="text-sm text-gray-500">Showing 1-5 of 5</div>
                    <div class="flex justify-end gap-2">
                        <a href="#" class="px-2 py-2 flex rounded-md border border-gray-400 hover:bg-gray-200">
                            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path
                                    d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z" />
                            </svg>
                        </a>
                        <a href="#" class="px-2 py-2 flex rounded-md border border-gray-400 hover:bg-gray-200">
                            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path
                                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6 .1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Categories Table -->
            <div class="overflow-x-auto border-t border-gray-300"
                *ngIf="activatedTab === ITEM_LISTIN_TAB_TYPE.CATEGORIES && categoryListingData.length !== 0">
                <table class="min-w-full bg-white text-sm border border-gray-300">
                    <thead class="bg-gray-50 text-gray-700 border-b border-gray-300">
                        <tr>
                            <th class="px-4 py-3 text-center border-r border-gray-300">
                                <input type="checkbox" class="w-5 h-5 hover:cursor-pointer shadow-md">
                            </th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Category Name</th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Date Created</th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Date Edited</th>
                            <th class="px-4 py-3 text-center"></th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-300">
                        <tr *ngFor="let category of categoryListingData">
                            <td class="px-4 py-4 text-center border-r border-gray-300">
                                <input type="checkbox" class="w-5 h-5 hover:cursor-pointer shadow-md">
                            </td>
                            <td class="px-4 py-4 font-medium text-gray-900 border-r border-gray-300">{{
                                category.categoryName }}</td>
                            <td class="px-4 py-4 text-gray-700 border-r border-gray-300">{{ category.dateCreated }}</td>
                            <td class="px-4 py-4 text-gray-700 border-r border-gray-300">{{ category.dateEdited }}</td>
                            <td class="text-center relative">
                                <button class="w-full flex justify-center items-center text-gray-700 hover:bg-gray-300"
                                    (click)="menuBtnClick($event, category.guid)">
                                    <svg class="h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512">
                                        <path
                                            d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z" />
                                    </svg>
                                </button>
                                <div class="hidden absolute right-0 mt-1 w-28 bg-white border border-gray-300 rounded-lg shadow-md z-10 action-menu"
                                    id="{{'menu-' + category.guid}}">
                                    <button
                                        class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                        (click)="onCategoryMenuEditClick(category.guid)">Edit</button>
                                    <button
                                        class="block w-full px-4 py-2 text-left text-sm text-red-600 hover:bg-gray-100"
                                        (click)="onMenuDeleteClick(category.guid)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Food items Table -->
            <div class="overflow-x-auto border-t border-gray-300"
                *ngIf="activatedTab === ITEM_LISTIN_TAB_TYPE.ITEMS && itemListingData.length !== 0">
                <table class="min-w-full bg-white text-sm border border-gray-300">
                    <thead class="bg-gray-50 text-gray-700 border-b border-gray-300">
                        <tr>
                            <th class="px-4 py-3 text-center border-r border-gray-300">
                                <input type="checkbox" class="w-5 h-5 hover:cursor-pointer shadow-md">
                            </th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Item Name</th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Quantity</th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Price(INR)</th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Type</th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Date created</th>
                            <th class="px-4 py-3 text-left border-r border-gray-300">Date edited</th>
                            <th class="px-4 py-3 text-center"></th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-300">
                        <tr *ngFor="let item of itemListingData">
                            <td class="px-4 py-4 text-center border-r border-gray-300">
                                <input type="checkbox" class="w-5 h-5 hover:cursor-pointer shadow-md">
                            </td>
                            <td class="px-4 py-4 font-medium text-gray-900 border-r border-gray-300">{{ item.itemName }}
                            </td>
                            <td class="px-4 py-4 text-gray-700 border-r border-gray-300">{{
                                getItemQuantity(item.quantity, item.quantityUnit)}}</td>
                            <td class="px-4 py-4 text-gray-700 border-r border-gray-300">{{ item.price }}</td>
                            <td class="px-4 py-4 text-gray-700 border-r border-gray-300">{{ getItemType(item.type) }}
                            </td>
                            <td class="px-4 py-4 text-gray-700 border-r border-gray-300">{{ item.dateCreated }}</td>
                            <td class="px-4 py-4 text-gray-700 border-r border-gray-300">{{ item.dateEdited }}</td>
                            <td class="text-center relative">
                                <button class="w-full flex justify-center items-center text-gray-700 hover:bg-gray-300"
                                    (click)="menuBtnClick($event, item.guid)">
                                    <svg class="h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512">
                                        <path
                                            d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z" />
                                    </svg>
                                </button>
                                <div class="hidden absolute right-0 mt-1 w-28 bg-white border border-gray-300 rounded-lg shadow-md z-10 action-menu"
                                    id="{{'menu-' + item.guid}}">
                                    <button
                                        class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                        (click)="onItemMenuEditBtnClick(item.guid)">Edit</button>
                                    <button
                                        class="block w-full px-4 py-2 text-left text-sm text-red-600 hover:bg-gray-100"
                                        (click)="onMenuDeleteClick(item.guid)">Delete</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Bottom Pagination -->
            <div class="border-t border-gray-300 px-4 py-4 bg-gray-100 rounded-b-lg flex justify-end">
                <!-- Bottom Pagination -->
                <div class="flex gap-2">
                    <a href="#" class="px-2 py-2 flex rounded-md border border-gray-400 hover:bg-gray-200">
                        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z" />
                        </svg>
                    </a>
                    <a class="px-2 py-2 flex rounded-md border border-gray-400 hover:bg-gray-200">
                        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6 .1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>